//fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

//variables y mapas
$colors: (
    "trueblue": #2f5aa5,
    "lightsalmon": #E8B7A6,
    "truesalmon": #ff9977,
    "deepsalmon": #e56e46,
    "lightblue": #e1e9f7,
    "offwhite": #f6f6f6,
    "offblack": #343434
);

$font1: ‘Roboto’, sans-serif;
$font2: ‘Nunito’, sans-serif;

$text-xl: 3.3rem;
$text-l: 2.2rem;
$text-m: 1.4rem;
$text-s: 1.1rem;
$text-sm: 0.9rem;