/*PÃGINA 3 y 5: RESERVAR y CONTACTO*/

.section-formulario{
    background-color: map-get($colors, "offwhite");
}

.form-label {
    @include font (map-get($colors, "trueblue"), 1rem, null);
    height: min-content;
}

.btn-form {
    @include font (map-get($colors, "offwhite"), 1.1rem, null);
    background-color: map-get($colors, "truesalmon");

    &:hover {
        color: map-get($colors, "offwhite");
        background-color: map-get($colors, "trueblue");
    }
}

input[type="radio"]{
    display: none;
}

/*formulario de contacto*/

.contact-box {
    position: relative;
    margin: 30px 0px;

    &__label {
        position: absolute;
        top: 8px;
        left: 5px;
        padding: 0px 10px;
        transition: all .3s ease-in-out;
        height: min-content;
        @include font (map-get($colors, "trueblue"), 1rem, null);
    }

    &__input{
        &::placeholder {
            visibility: hidden;
        }
        &:focus + .contact-box__label, &:valid + .contact-box__label {
            top: -16px;
            font-size: .8rem;
            background: map-get($colors, "offwhite");
        }

    }
}

.contact-map iframe {
    @include box (90%);
    min-height: 500px;
}

/*formulario de reservas*/

.tour-type {
    margin: 10px 0px;
    padding: 10px 0px 0px 0px;

    &__option {
        padding: 10px 0px 0px 0px;
        @include flex (column, null, null);

        &__label {
            padding: 6px 20px;
            border: 2px solid map-get($colors, "offwhite");
            background-color:#d4d4d4;
            color: #4a4a4a;
            text-align: center;
        }

        &__input {
            &:checked {
                & + .tour-type__option__label {
                    background-color: map-get($colors, "trueblue");
                    color: map-get($colors, "offwhite");
                }

                & ~ .tour-type__option__subform {
                    opacity: 100%;
                    height: auto;
                }
            }

            &:not(:checked) {
                & ~ .tour-type__option__subform {
                    opacity: 0%;
                    padding: 0;
                    height: 0px;
                }

            }
        }

        &__subform {
            padding: 25px 0px 10px 0px;
            transition: opacity .2s;
            display: flex;
            flex-wrap: wrap;

            & .form-label {
                color: map-get($colors, "deepsalmon");
            }

            & .form-check {
                margin: 10px 5px;
            }
        }
    }
}

.tour-flex > .tour-type__option__label {
    border-radius: 25px 0 0 25px;
}

.tour-pre > .tour-type__option__label {
    border-radius: 0 25px 25px 0;
}