/*PÃGINA 3 y 5: RESERVAR y CONTACTO*/

.section-formulario {
    margin: auto;
    padding: 40px 0px ;
}

.formulario {
    @include flex (column, center, stretch);
    width: 37vw;
    min-width: 300px;
    margin: auto;
    padding: 30px 15px;
    background-color: map-get($colors, "transpwhite");
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 3px 10px map-get($colors, "shadow");
    border-radius: 30px;
}

.main-reservar {
    .section-formulario {
        background-image: url("../media/main-reservar-bg.svg");
    }
}
.main-contacto {
    .section-formulario {
        background-image: url("../media/main-contacto-bg.svg");
    }
}

.form-label {
    @include font (map-get($colors, "trueblue"), 1rem, 500);
    height: min-content;
}

.btn-form {
    @include button (map-get($colors, "offwhite"), map-get($colors, "truesalmon"),
        map-get($colors, "offwhite"), 25px, map-get($colors, "trueblue"));
    font-size: $text-s;
    font-weight: 700;
}

input[type="radio"] {
    display: none;

}

    /*Formulario de reservas*/

.tour-type {
    padding: 10px 0px 0px 0px;
    @include flex (row, null, null);

    &__option {
        @include flex (column, null, null);
        padding: 10px 0px 0px 0px;
        width: 50%;

        &__label {
            margin: 2px;
            padding: 6px 20px;
            box-shadow: 0px 3px 4px map-get($colors, "shadow");
            background-color: #d4d4d4;
            color: #4a4a4a;
            font-size: .9rem;
            text-align: center;
            cursor: pointer;
            transition: all .3s; 
        }

        /*animaciones al elegir uno u otro tipo de tour*/
        &__input {  
            &:checked, &:hover{
                &+.tour-type__option__label {
                    background-color: map-get($colors, "trueblue");
                    color: map-get($colors, "offwhite");
                }

                &~.tour-type__option__subform {
                    height: auto;
                }
            }

            &:not(:checked) {
                &~.tour-type__option__subform {
                    padding: 0;
                    height: 0px;
                    overflow: hidden;
                }
            }
        }

        &__subform {
            @include flex (row, center, center);
            flex-wrap: wrap;
            padding: 8px 5px;
            background-color: map-get($colors, "transpwhite");
            box-shadow: 0px 3px 10px map-get($colors, "shadow");
            border-radius: 20px;
            font-size: .9rem;
            transition: all .25s ease-in-out;

            .form-label {
                color: map-get($colors, "deepsalmon");
            }

            .form-check {
                margin: 10px 5px;
            }

            select {
                font-size: .9rem;
                white-space: break-spaces;
            }
        }
    }
}

.tour-flex>.tour-type__option{
    &__label {
        border-radius: 25px 0 0 25px;
    }
    &__subform {
        margin: 20px 3px 5px 8px;
    }
}

.tour-pre>.tour-type__option{
    &__label {
        border-radius: 0 25px 25px 0;
    }
    &__subform {
        padding: 10px 6px 30px 6px;
        margin: 20px 8px 5px 3px;
    }
}

    /*Formulario de contacto*/

.contact-box {
    position: relative;
    margin: 30px 0px;

    &__label {
        position: absolute;
        top: 8px;
        left: 5px;
        padding: 0px 10px;
        transition: all .3s ease-in-out;
        height: min-content;
        @include font (map-get($colors, "trueblue"), 1rem, null);
    }

    &__input {
        &::placeholder {
            visibility: hidden;
        }

        &:focus+.contact-box__label,
        &:valid+.contact-box__label {
            top: -16px;
            font-size: $text-xsm;
            background: map-get($colors, "offwhite");
        }
    }
}

.contact-map iframe {
    @include box (90%);
    min-height: 400px;
    margin: auto;
}