/*section-banner: banner con fondo completo de imagen - primer banner de todas las secciones */

.section-banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

$sections: (index1, index2, tours, reservar, blog, contacto);

@each $section in $sections {
    .banner-#{$section} {
        background-image: url("../media/img-banner-#{$section}.jpg");
    }
}