    /*Carousel de bootstrap: modificación de estilos con clases que vienen de bootstrap*/

.carousel {
    height: 70vh;
    min-height: 400px;

    & .carousel-indicators {
        margin-top: 50px;
        button {
            @include box (10px);
            border-radius: 50%;
            background-color: map-get($colors, "trueblue");
            &:focus {
                background-color:map-get($colors, "trueblue");
            }
        }
        .active {
            background-color:map-get($colors, "trueblue");
        }
    }

    &-control-prev, &-control-next{
        width: 10%;
        max-width: 50px;
        min-width: 10px;
        background-color: transparent;
    }

    &-inner {
        margin: auto;
        width: 90%;
    }

    @include tablet {
        height: 80vh;
        @include flex (null, null, center);
    }
}

    /*Carousel de bootstrap: modificación de estilos con clases propias*/
.c-cards {
    @include flex;
    width: 100%;
    padding: 5px 10px;

    .c-card:nth-child(even){
        display: none;

        @include tablet {
            display: block;
        }
    }
}

.c-card {
    margin: 10px;

    &__img-box {
        @include box (100%, 61vh);
        min-height: 300px;
        margin: auto;
        overflow: hidden;
        
        img {
            @include box (100%, calc(100% - 75px));
            border-radius: 25px 25px 0px 0px;
            object-fit: cover;
            transition: all .3s ease-in-out;
        }
    }

    &__body {
        @include box (100%, 75px);
        @include flex (column, start, center);
        position: absolute;
        bottom: 0;
        background-color: map-get($colors, "offwhite");
        transition: all .3s ease-in-out;
        
        &__icons {
            @include flex (null, center, null);
            width: 100%;
            
            p {
                @include gral_text ($text-xsm);
                padding: 0px 3px;
            }
        }
    }

    &:hover &__img-box img {
        scale: 1.05;
        filter: brightness(80%);
    }

    &:hover &__body {
        height: 150px;
        &__btn {
            visibility: visible;
        }
    }

    @include tablet {
        width: 50%;
    }
}