.card-title {
    color:#2f5aa5;
    padding: 10px 0px 5px 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.card__body__btn {
    color:#2f5aa5;
    visibility: hidden;
    font-weight: 500;
    border: 1px solid #2f5aa5;
    border-radius: 25px;
    padding: 5px 10px;
    transition: all .3s ease-in-out;

    &:hover {
        color:white;
        background-color: #2f5aa5;
        border: 1px solid transparent;
    }
}