/*Grid of cards*/

.g-cards {
    display: grid;
    margin: auto;
    padding: 25px;
    width: 90vw;
    column-gap: 25px;
    row-gap: 40px;
    grid-template:
        "card1" 380px
        "card2" 380px
        "card3" 380px
        "card4" 380px
        "card5" 380px
        "card6" 380px
        / auto;
}

@for $i from 1 through 6 {
    .card#{$i} {
        grid-area: card#{$i};
    }
}


.g-card {
    border-radius: 25px;
    position: relative;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.16);
    transition: all .3s ease-in-out;

    &__img-box {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            scale: 1.10;
            transition: all .3s ease-in-out;
        }
    }

    &__body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        padding: 0px 8%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .4s ease-in-out;

        &__overlay {
            color: rgb(34, 34, 34);
            line-height: 1.50;
            font-size: 0.95rem;
            text-align: justify; 

            margin-top: 50px;
            min-height: 100px;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all .4s ease-in-out;
        }

        &__icons {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
    }

    &:hover {
        transform: translateY(-25px);

        & .g-card {
            &__body {
            height: 100%;
            background-color: rgba(255, 255, 255, 0.671);
                &__overlay {
                    opacity: 1;
                } 
            }
            &__img-box img {
                scale: 1.05;
                filter: blur(2.5px);
            }
        }

        & .card__body__btn {
            visibility: visible;
        }
        
        & .card-title::after {
            display: normal;
            content:"";
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: -6px;
            width: 50px;
            height: 2px;
            background:#e56e46;  
        }
    }
}



















@media (min-width: 700px) {
    .g-cards {
        min-width: 550px; 
        grid-template:
            "card1 card2" 330px
            "card4 card2" 100px
            "card4 card3" 330px
            "card6 card5" 330px
                ". card5" 100px
            / auto auto;
    }
    .g-card {
        &__body__overlay {
        font-size: .9rem;
        }

        &:hover .card-title-big {
        top: 17%;
        }
    }
}

@media (min-width: 992px) {
    .g-cards {
        width: 75vw;
        min-width: 900px; 
        grid-template:
        "card1 card2 card3" 330px
        "card4 card2 card5" 100px
        "card4 card6 card5" 330px
        / auto auto auto;
    }

}
