/*Grid of cards*/

.g-cards {
    display: grid;
    margin: auto;
    padding: 25px;
    width: 90vw;
    column-gap: 25px;
    row-gap: 40px;
    grid-template:
        "card1" 380px
        "card2" 380px
        "card3" 380px
        "card4" 380px
        "card5" 380px
        "card6" 380px
        / auto;

        @include tablet {
            min-width: 550px; 
            grid-template:
                "card1 card2" 330px
                "card4 card2" 100px
                "card4 card3" 330px
                "card6 card5" 330px
                    ". card5" 100px
                / auto auto;
        }
        
        @include desktop {
            width: 75vw;
            min-width: 900px; 
            grid-template:
            "card1 card2 card3" 330px
            "card4 card2 card5" 100px
            "card4 card6 card5" 330px
            / auto auto auto;
        }
}

@for $i from 1 through 6 {
    .card#{$i} {
        grid-area: card#{$i};
    }
}

.g-card {
    transition: all .3s ease-in-out;

    &__img-box {
        @include box (100%);
        position: relative;
        overflow: hidden;
        
        & img {
            @include box (100%);
            position: absolute;
            top: 0;
            left: 0;
            scale: 1.10;
            object-fit: cover;
            transition: all .3s ease-in-out;
        }
    }
    &__body {
        @include box (100%, 60px);
        @include flex (column, center, center);
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0px 8%;
        background-color: #eff5ffe0;
        transition: all .4s ease-in-out;
        
        &__title {
            height: fit-content;
            position: absolute;
            top: 5%;
            transition: all .4s ease-in-out;
        }
        &__overlay {
            @include flex (column, center, center);
            @include gral_text (.95rem, normal);
            margin-top: 50px;
            min-height: 100px;
            opacity: 0;
            transition: all .4s ease-in-out;

            @include tablet {
                font-size: $text-sm;
            }
        }

        &__icons {
            width: 100%;
            @include flex (null, space-around);
        }
    }

    &:hover {
        transform: translateY(-25px);
        
        & .g-card {
            &__body {
            height: 100%;
            background-color: rgba(233, 239, 255, 0.774);
                &__overlay {
                    opacity: 1;
                } 
                &__btn {
                    visibility: visible;
                }
            }
            &__img-box img {
                scale: 1.05;
                filter: blur(2.5px);
            }
        }
        & .g-card__body__title {
            &::after {
                @include box (50px, 2px);
                display: normal;
                content:"";
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                bottom: -6px;
                background:map-get($colors, "deepsalmon"); 
            }
            &-big {
                @include tablet {top: 17%;}
            }
        }
    }
}