/*HEADER de todas las páginas*/
/* Elementos Offcanvas del header*/

.offcanvas {
    background-color: rgba(0, 0, 0, 0.83);
}

.btn-close {
    background-color: map-get($colors, "ofwhite");
}

/*Elementos navegables del header*/

.navbar-toggler{
    background-color: rgba(255, 255, 255, 0.448);

    &:focus, &:hover{
        background-color: map-get($colors, "ofwhite");
    }
}

.logo {
    width: 135px;
    margin-left: 15px;
}

.nav-link {
    @include font (map-get($colors, "lightsalmon"), $text-s, 500, $font1);
    margin: 0px 12px;
    position: relative;
    transition: color .2s;

    &:not(.text-white)::after {
        @include box (50%, 2px);
        content:"";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 6px;
        transition: all .2s;
        transform: scale(0, 1);
        transform-origin: 50% 0%;
        background: map-get($colors, "offwhite");
    }

    &:hover, &:active{
        color: map-get($colors, "offwhite");
        &::after {
            transform: scale(1, 1);
        }
    }
}

/*Elemento de búsqueda header*/
.searchbar {
    background-color: #ffffff3e;
    border-radius: 30px;
    padding: 5px;

    &__input {
        color: map-get($colors, "offwhite");
        border: 0;
        outline: 0;
        background: none;
        width: 200px;
        line-height: 40px;
        transition: width 0.4s linear;
    
        &::placeholder {
            color: map-get($colors, "offwhite");
        }

        @include desktop {
            width: 0;
        }
    }

    &__btn {
        @include box (40px);
        background-color: transparent;
        float: right;
        border-radius: 50%;
        border: none;
        color: map-get($colors, "offwhite");
    }

    &:hover > &__input {
        @include desktop {
            padding: 0 10px;
            width: 200px;
            caret-color: transparent;
        }
    }

    &:hover > &__btn {
        @include desktop {
            background: map-get($colors, "offwhite");
            color: map-get($colors, "trueblue");
        }
    }
}

/*FOOTER de todas las páginas*/

.footer {
    background: rgb(0,55,105);
    background: linear-gradient(126deg, rgba(0,55,105,1) 9%, rgba(0,0,105,1) 100%);

    &__title {
        @include font (map-get($colors, "lightsalmon"), $text-s, 500);
        padding: 10px 0px;
    }

    &__text, &__link {
        @include font (map-get($colors, "offwhite"), $text-sm, null);
        text-align: justify;
    }

    &__link {
        transition: .2s;
        
        &:hover {
            color: map-get($colors, "lightsalmon");
        }
    }
}