/*COMPONENTES COMUNES A TODAS LAS PÁGINAS*/
/*TÍTULOS Y BOTONES para todas las páginas */

.title-big {
    @include font (map-get($colors, "offwhite"), $text-xl, 500);
    padding: 10px 0px;
    animation: fadein 1s ease-in-out;
    font-family: $font1;
}

.title-small {
    @include font (map-get($colors, "trueblue"), $text-l, 500);
    margin: 0 auto 35px auto;
    padding: 5px 0px;
    position: relative;
    text-align: center;
    transition: color .2s;
    font-family: $font1;

    &::after {
        content:"";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -10px;
        margin: auto;
        background: map-get($colors, "truesalmon");
        @include box (100px, 2px);
        }
}

.subtitle-big {
    @include font (map-get($colors, "offwhite"), $text-l, 500);
    padding: 0px 0px 20px 0px;
    animation: fadein 2s ease-in-out;
    font-family: $font1;
}

.subtitle-small {
    @include font (map-get($colors, "trueblue"), null, 500);
    padding-top: 30px;
    font-family: $font1;
}

.title-colored {
    color: map-get($colors, "truesalmon");
    font-family: $font1;
}

.btn-big {
    @include button (map-get($colors, "lightsalmon"), transparent, map-get($colors, "trueblue"), 40px);
    font-size: $text-m;
    font-weight: bold;
    animation: fadein 2.5s ease-in-out;
    transition: 0.2s;
}

@keyframes fadein {
    0% { opacity: 0%; }
    20% { opacity: 0%; }
    100% { opacity: 100%; }
}

/*BANNER de todas las páginas (banner con fondo completo de imagen) */

.full-img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-banner {
    @include flex (column, center, start);
    padding: 0 5vw;
}

$sections: (index1, index2, tours, reservar, blog, contacto);

@each $section in $sections {
    .banner-#{$section} {
        background-image: url("../media/img-banner-#{$section}.avif");
    }
}

/*CARDS de todas las páginas*/

.c-card, .g-card {
    @include box (100%);
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.17);
}

.c-card__body__title, .g-card__body__title, .blog-article__body__title {
    @include font (map-get($colors, "trueblue"), $text-s, bold);
    padding: 10px 0px 5px 0px;
    font-family: $font1;
}

.c-card__body__btn, .g-card__body__btn {
    @include button (map-get($colors, "trueblue"), transparent);
    visibility: hidden;
    font-weight: bold;
    padding: 5px 10px;
    transition: all .3s ease-in-out;
}