/*Títulos y botones para todas las páginas */

.title-big {
    font-weight: 500;
    color: #FCF3E6;
    font-size: 3.3rem;
    padding: 10px 0px;
    animation: fadein 1s ease-in-out;
}

.title-small {
    margin: 0 auto 35px auto;
    padding: 5px 0px;
    position: relative;
    color:  #2f5aa5;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    transition: color .2s;

    &::after {
        content:"";
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -10px;
        width: 100px;
        height: 2px;
        background:#db967f;
        }
}

.subtitle-big {
    font-weight: 500;
    color: #FCF3E6;
    font-size: 2rem;
    padding: 0px 0px 20px 0px;
    animation: fadein 2s ease-in-out;
}

.subtitle-small {
    color:  #2f5aa5;
    font-weight: 500;
    padding-top: 30px;
}

.title-colored {
    color:#ff9977;
}

.btn-big {
    font-weight: 500;
    font-size: 1.4rem;
    color: #E8B7A6;
    background-color: transparent;
    border: 2px solid #E8B7A6;
    border-radius: 40px;
    animation: fadein 2.5s ease-in-out;

    &:hover {
        color: #2f5aa5;
        background-color: #E8B7A6;
        border: 2px solid transparent;
        transition: 0.2s;
    }
}

@keyframes fadein {
    0% { opacity: 0%; }
    20% { opacity: 0%; }
    100% { opacity: 100%; }
}